<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArtCollection.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33C30FA21DA6C2490055A196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C30FB61DA6C24A0055A196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C30FC11DA6C24A0055A196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
